* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a2c42;
  text-align: center;
  font-family: cursive;
 
  overflow: hidden;
}
h1 {
  background-color: #0b3976;
  height: 5rem;
  color: white;
  line-height: 5rem;
}
.choices .choice {
  height: 9rem;
  width: 9rem;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice img {
  height: 8rem;
  width: 8rem;
  object-fit: inherit;
  margin: 5px;
  border-radius: 50%;
  border: 5px solid green;
}

.choices {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-top: 3rem;
}
.choice:hover{
    opacity: .8;
    cursor: pointer;
    background-color: rgb(159, 198, 220);
}
.score_board {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(18, 49, 140);
  margin: 30px;

}
.score {
  background-color: rgb(180, 231, 130);
  width: 31%;
  border-radius: 27px;
  height: 24%;
  
  
}
.msg_container {
  /* background-color: rgb(4, 41, 23); */
  color: white;
display: flex;
justify-content: center;
align-items: center;
height: 5rem;
width: 100%;

}
#Message{
  width:30%;
  padding: .8rem;
  background-color: green;
  border-radius: 27px;

}

